certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
colorlog==6.9.0
-e git+https://github.com/zoongahn/jungiNet.git@d7be986eccfcdf284e7dec080508760c7868bcb1#egg=common&subdirectory=api-fetcher
cryptography==44.0.1
dnspython==2.7.0
idna==3.10
iniconfig==2.0.0
packaging==24.2
pluggy==1.5.0
pymongo==4.11.1
pyOpenSSL==25.0.0
pytest==8.3.4
python-dotenv==1.0.1
requests @ git+https://github.com/psf/requests.git@0e322af87745eff34caffe4df68456ebc20d9068
setuptools==75.8.0
typing_extensions==4.12.2
urllib3==2.3.0
wheel==0.45.1
