certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
colorlog==6.9.0
cryptography==44.0.1
dnspython==2.7.0
idna==3.10
pycparser==2.22
pymongo==4.11.1
pyOpenSSL==25.0.0
setuptools==75.8.0
typing_extensions==4.12.2
urllib3==2.3.0
wheel==0.45.1
requests~=2.32.3